$colorMain: #000;

#video-container {
  min-height: 400px;
}

.video-item {
  position: relative;
  background: white;
  display: none;
  margin: 0 auto;
}

.video-item.selected {
  display: block;
}
.lead {
  font-size: 25px;
}

.result-item {
  display: none;
  & .label {
    display: block;
  }
}

.result-item.selected {
  display: block;
}

#fuente {
  margin-top: 30px;
  background-color: #eee;
  p {
    margin: 20px;
  }
}

h1 {
  background: $colorMain;
  color: #fff;
  margin: 0;
  font-size: 25px;
  padding: 10px;
}
h2 {
  border: 1px solid $colorMain;
  color: $colorMain;
  margin: 0;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 10px;
}

.cols {
  position: relative;
  min-height: 1px;
  float: left;
}

#col-video {
  width: 45%;
}

#col-text {
  width: 55%;
  padding-top: 6%;
  padding-left: 20px;
}

#btn-play {
  margin: 0 auto;
  border: none;
  background-color: #ddd;
  font-size: 35px;
}

.show-mobile {
  display: none;
}
.hide-mobile {
  display: block;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 750px) {
}

@media only screen and (max-width: 620px) {
  #col-video {
    width: 50%;
  }

  #col-text {
    width: 50%;
    padding-top: 7%;
  }
  .lead {
    font-size: 22px;
  }
  #btn-play {
    font-size: 30px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 500px) {
  .show-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
  #col-video {
    width: 100%;
  }

  #col-text {
    width: 100%;
    padding: 0px 15px 15px 15px;
  }
  .lead {
    font-size: 20px;
  }
  .video-item {
    margin: -35px auto;
    z-index: -1;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}
