<div class="row">
	<div id="game-col" class="col-md-5">
		<h1 class="text-center">AGROQUÍMICOS</h1>
		<h2 class="text-center">¿de qué lado estás?</h2>
		<p class="text-center">¿Es posible un campo sin agroquímicos? ¿Existen riesgos para nuestra salud? La discusión tiene cada vez más detractores y defensores, cada uno con sus argumentos. Conocelos todos acá y respondé nuestro quiz para saber de quiénes estás más cerca.</p>
		<div id="game-container" class="row">
			<div ng-show="state=='loading'" class="col-md-12 text-center animate padding-top">
				Cargando información...
			</div>
			<div ng-show="state=='start'" class="col-md-12 text-center animate padding-top">
				<a class="btn btn-default" ng-click="start()">¡Empecemos!</a>
			</div>
			<div ng-show="state=='game'" class="animate">
				<div class="col-md-10 col-md-offset-1 text-center">
					<p><img ng-src="images/gifs/{{current.icono}}.gif"</p>
					<p class="pregunta-text">{{current.pregunta}}</p>
				</div>
				<div class="col-md-8 col-md-offset-2 text-center">
					<a ng-repeat="o in opciones" class="btn btn-default btn-block" ng-class="{active:(current.answer.id==o.id)}" ng-click="select(o)">{{o.opcion}}</a>
				</div>
			</div>
			<div ng-show="state=='end'" class="col-md-12 text-center animate padding-top">
				<a class="btn btn-default" ng-click="start()">¡Jugar otra vez!</a>
			</div>
		</div>
	</div>
	<div id="chart-col" class="col-md-7">
		<div id="row-title" class="row">
			<div class="col-sm-2 col-xs-6 text-center">
				<img class="img-responsive" ng-src="images/caritas/carita{{myCoordinates.conclusion.id}}_fem_color.png"/>
			</div>
			<div class="col-sm-2 col-xs-6 col-sm-push-8 text-center">
				<img class="img-responsive" ng-src="images/caritas/carita{{myCoordinates.conclusion.id}}_mas_color.png"/>
			</div>
			<div class="col-sm-8 col-xs-12 col-sm-pull-2">
				<h3 class="text-center color-{{myCoordinates.conclusion.id}}">{{myCoordinates.conclusion.texto}}</h3>
				<h4 class="text-center">{{myCoordinates.conclusion.detalle}}</h4>

			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div id="chart-container"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			 <div class="well"><p>Hacé click en los puntos para conocer quiénes de los entrevistados piensan como vos. Deslizate hacia la derecha o la izquierda para ver más.</p></div>
			</div>
		</div>
	</div>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="media">
          <div class="media-left">
            <img class="media-object" width="75" ng-src="{{selected.cara_color}}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{selected.entrevistado}}</h4>
            <p>{{selected.organizacion}}</p>
          </div>
        </div>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <blockquote>
          <p>"{{selected.cita}}"</p>
           <footer>Textual de entrevista</footer>
        </blockquote>
        <p>Las respuestas de {{selected.entrevistado}}:</p>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="p in preguntasKeys">{{$index+1}}. {{preguntas[p].pregunta}} <strong ng-show="selected[p]!=''">{{opcionesMap[selected[p]].opcion}}</strong> <strong ng-show="selected[p]==''">No contesta</strong></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->