<div class="col-md-12">
  <div id="video-container">
    <div class="video-item row" ng-repeat="d in data" ng-class="{selected:d.video==selectedVideo.video}">
      <div class="col-sm-3">
        <video id="video-{{d.video}}" poster="images/poster.png" width="100%">
            <source id="source" ng-src="{{baseDriveUrl+d.video}}" type='video/mp4'/>
        </video>
      </div>
      <div class="col-sm-9">
        <h2><a id="btn-play" ng-show="!playing" ng-click="playVideo()">Play Video!</a></h2>
        <div ng-if="playing">
          <h2>{{d.title}}</h2>
          <p>{{d.text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>