$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body.loading{
	background-image: url('../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

body.loading .container-fluid{
	display: none;
}

#chart-container{
	width: 100%;
}

#close-details{
	position: absolute;
	right: 0px;
}

#selectors{
	position:absolute;
	top:0;
	left:0;
	z-index:20;
}

#details{
	display: none;
	background-color: #eee;
}

#circle-tooltip{
	background-color:#ccc;
	padding: 10px;
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	pointer-events:none;
	opacity:0;
}

circle{
	stroke-width: 0px;
}

circle.selected {
	stroke-width: 3px;
}

circle:hover{
	stroke-width: 3px;
	cursor:pointer; 
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
