$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body.loading{
	background-image: url('../images/loading.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

body.loading .container-fluid{
	display: none;
}

#chart-container{
	width: 100%;
}

#close-details{
	position: absolute;
	right: 0px;
}

#selectors{
	position:absolute;
	top:0;
	left:0;
	z-index:20;
}

#details{
	display: none;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}

#circle-tooltip{
	background-color:#fff;
	padding: 10px;
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	pointer-events:none;
	opacity:0;
	color: #890900;
	border: 1px solid #890900;
}

circle{
	stroke-width: 0px;
}

circle.selected {
	stroke-width: 3px;
}

circle:hover{
	stroke-width: 3px;
	cursor:pointer; 
}

.c3-axis .domain,
.c3-axis .tick{
	stroke-width: 0;
}

.c3-ygrid-line line{
	stroke-width: 1px;
	stroke: #eeeeee;
}

#details-block .c3-ygrid-line line{
	stroke-width: 1px;
	stroke: #000;
	stroke-dasharray: 5,5;
}

.c3-ygrid-line text{
	fill: #000;
}


.c3-chart-lines path.c3-shape{
	stroke-width: 5px;
}

.btn-chq{
	color: #890900;
	border: 1px solid #890900;
	border-radius: 0px;
}

.btn-chq:hover{
	color: #890900;
}

.btn-chq.btn-selected{
	background-color: #890900;
	color: #fff;
}

#close-details{
	color: #890900;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
