$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

$color: #B852DE;
$color-dark: #5702A7;
$color-light: #DBADEE;
$grey: #ddd;

html,body{
  font-family: 'Roboto', sans-serif;
}

header{
  background-image: url('../images/cabezal-desk.jpg');
  background-size: cover;
  background-position: right bottom;
  min-height: 250px;
  h1{
    margin: 10px;
    text-transform: uppercase;
    font-size: 50px;
  }
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.row-full{
  margin-left: 0px;
  margin-right: 0px;
}

.row-margin{
  margin-bottom: 15px;  
}

.col-left{
  padding-left: 0px;
}

.col-right{
  padding-right: 0px;
}

#mapa{

}

.bg-light{
  background-color: $color-light;
}

.bg-color{
  background-color: $color;
}

.main-color{
  color: $color;
}

.bg-dark{
  background-color: $color-dark;
}

.bg-grey{
  background-color: $grey;
}

.grupo1,.grupo2{
  height: 100%;
}

.row-half{
  height: 50%;
}

.btn-chq{
  color: $color;
  border-radius: 0px;
  &:hover{
    color:$color-dark;
  }
}

.image-container{
  overflow: hidden;
  height: 250px;
  img{
    width: 100%;
  }
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
  width: 100%;
}

.carousel-indicators{
  & li{
      border-color: $color-light;
    &.active{
      background: $color;
    }
  }
}

.carousel-control{
  color: $color-light;
  &.right{
    background-image: none;
  }
  &.left{
    background-image: none;
  }
  &:hover{
    color: $color;
  }
}

.with-icon{
  padding-top: 5%;
  min-height: 90px;
  div.icon{
    display: block;
    float: left;
    width: 70px;
    text-align: center;
    padding: 10px 0px 10px 0px;
  }
  div.content{
    padding: 15px 10px;
    margin-left: 70px;
    span.title{
      display: block;
      font-size: 12px;
      overflow: hidden;
      text-align: center;
    }
    span.data{
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 14px;
    }
  }
}

.btn-chq{

}

.select-chq{
  color: #000;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  overflow: hidden;
    
  background-color: #eee;
  outline: none;

  box-shadow: none;

    &:focus {
      outline: none;
    outline-color: transparent;
    outline-style: none;
  }

}

/*CHART*/
.c3-axis-y .domain,
.c3-axis-x .domain{
  stroke:#ccc;
}

.c3-chart-line .c3-circle{
  fill:none;
}

.c3-chart-line .c3-lines .c3-line{
  stroke-width: 3px;
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  /*.col-sm-6{
    width: 50%;
    float: left;
  }*/
  .col-sm-6{
    margin-bottom: 15px;
  }

  .col-left{
    padding-right: 0;
  }

  .col-right{
    padding-left: 0;
  }

  header{
    background-position: center bottom;
    text-align: center;
  }

  .image-container{
    height: auto;
  }

  .with-icon{
    padding-top: 0px;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .row-margin{
    margin-bottom: 5px;  
  }
  .row-margin-xs{
    margin-bottom: 10px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  /*.col-sm-6{

  } */
}

@media (min-width: 768px) {

}