// bower:scss
// endbower

$transition_delay: 0.5s;

#game-container{
	//background-image: url('../images/bg/fondo1.jpg');
	background-size: cover;
	background-position: center center;
	min-height: 600px;
}

$colorSI: #1aa5ad;
$colorNOSE: #d78031;
$colorNO: #f3452f;

$colorMain: #000;

/*COLORES*/
.color-SI{
	color: $colorSI;
}
.color-NOSE{
	color: $colorNOSE;
}
.color-NO{
	color: $colorNO;
}

/*COLORES*/
.fill-SI{
	fill: $colorSI;
}
.fill-NOSE{
	fill: $colorNOSE;
}
.fill-NO{
	fill: $colorNO;
}

.well{
	background: #b0b0b0;
	padding: 5px 15px;
	border-radius: 0px;
	border: none;
	text-align: center;
}

/*Animate*/

.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}

.animate.ng-enter,
.animate.ng-hide-remove,
{
	-webkit-transition: $transition_delay linear opacity;
	-moz-transition: $transition_delay linear opacity;
	-ms-transition: $transition_delay linear opacity;
	-o-transition: $transition_delay linear opacity;
	transition: $transition_delay linear opacity;
}

.animate.ng-leave,
.animate.ng-hide-add {
	opacity: 1;
}

.animate.ng-leave.ng-leave-active,
.animate.ng-hide-add.ng-hide-add-active{
	opacity: 0;
}

.animate.ng-enter,
.animate.ng-hide-remove{
	opacity: 0;
}
.animate.ng-enter.ng-enter-active,
.animate.ng-hide-remove.ng-hide-remove-active{
	opacity: 1;
}

/*CHART*/
.axis text {
  font: 10px sans-serif;
}

.axis-label{
	font: 14px sans-serif;
}

.my-text{
	font: 8px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.scatter-image{
	cursor: pointer;
}

.my-dot{
	fill: #fff;
}

.hover-dot{
	fill: #fff;	
}

#row-title{
	h3{
		min-height: 2em;
	}
	img{
		margin: 0 auto;
	}
}

#chart-col{
	border: 1px solid #ccc;
}

#game-col{
	h1{
		background: $colorMain;
		color: #fff;
		margin: 0;
		font-size: 25px;
		padding: 10px;
	}
	h2{
		border: 1px solid $colorMain;
		color: $colorMain;
		margin: 0;
		margin-bottom: 15px;
		font-size: 25px;
		padding: 10px;
	}
}

.pregunta-text{
	font-weight: bold;
}

.btn{
	border-radius: 0px;
}

.padding-top{
	padding-top: 100px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.axis-label{
		font: 14px sans-serif;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.axis-label{
		font: 12px sans-serif;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.axis-label{
		font: 10px sans-serif;
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}